<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="http://upload-z2.qiniu.com"
      enctype="multipart/form-data">
    <input name="key"  value="dynamic.proto">
    <!--<input name="x:<custom_name>" type="hidden" value="<custom_value>">-->
    <input name="token" value="EwP8G4T4Cjf2EYCM1XU4cLkMUgKNB2_N-4U9FDMX:c1fOime-xDziAd9Swu6ZnFWQdBg=:eyJzY29wZSI6Inp5aGNoOmR5bmFtaWMucHJvdG8iLCJkZWFkbGluZSI6MTYyNzkzNDQyM30=">
    <!--<input name="crc32" type="hidden" />
    <input name="accept" type="hidden" />-->
    <input name="file" type="file" />
    <input type="submit" value="上传文件" />
</form>
</body>
</html>